name: Deploy Case Management API

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

env:
  AZURE_CLIENT_ID: 8e7b07a6-be67-4897-a081-3bac13e29c2d
  AZURE_TENANT_ID: 84b76628-9c74-4f8e-9fa1-edd6e9d10a5f
  AZURE_SUBSCRIPTION_ID: 689a8f36-c99c-48da-8a2d-8cd55b3fc23c

  APP_NAME: cms-app-service
  RESOURCE_GROUP: case-management-rg
  DOTNET_VERSION: "8.0.x"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Publish
        run: dotnet publish CaseManagement.Api/CaseManagement.Api.csproj -c Release -o publish

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ env.AZURE_CLIENT_ID }}
          tenant-id: ${{ env.AZURE_TENANT_ID }}
          subscription-id: ${{ env.AZURE_SUBSCRIPTION_ID }}

      - name: Deploy to Azure App Service
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.APP_NAME }}
          package: publish
